{% extends 'base.html.twig' %}

{% block title %}  Test  {% endblock %}

{% block body %}
    <div>
        <a href="{{ url('admin_list_tariff') }}">Tariff list</a>
    </div>
    <div>
        <a href="{{ url('admin_list_order') }}">Orders</a>
    </div>

{% endblock %}
